
body, html {

    margin: 0;
    padding: 0;
    height: 100%;

}

* {
    margin: 0;
    padding: 0;
}


    /*Universal Nav Bar Container*/


.header{
    width: 100%;
    height:7%;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
    overflow: hidden;
    background-color: #000000;
    opacity: .6;


}

.logo {
    float: left;
    color: #FFFFFF;
}

.logo a{
    color: #FFFFFF;
    text-decoration: none;
}

.nav{
    float: right;
    padding-right: 20px;
}

.nav a {
    color: #ffffff;
    padding-left: 40px;
    text-decoration: none;

}

a:hover{
    color: orange;

}



/* End of Universal Nav Bar Container*/


/*Homepage*/

.homePageContainer{
    background-image: url("brushed_alu_dark_@2X.png");
    height: 100%;

}

.homePageSections{
    margin: 50px;
}

.homePageSections img {
    width: 60%;
    height: auto;
}

.homePageText{
    background-color: #FFFFFF;
    opacity: .9;
    width: 35%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

#bottomborder{
    width: 100%;
}


/*Resume Page*/

.resumecontainer{

    background-image: url("brickedwindow.jpeg");
    background-size: 100%;
    width: auto;
    height: 100%;

}

.whiteblock {
    background-color: white;
    height: 100%;
    width: 65%;
    margin: 0 auto;
}

/*About Me Page*/

.aboutMeContainer{
    background-image: url("green_cup.png");
    height: 100%;
}

.aboutmeBlock{
    margin-left: 100px;
    margin-right: 100px;
    background-color: orange;
    height: 93%;
    box-sizing: border-box;


}

#aboutText{
   padding: 50px;

}

#aboutparagraph {
    width: 60%;
    font-family: 'Antic', sans-serif;
}

.aboutMeImages{
    float: right;
    width: 21%;
    height: 93%;


}

.aboutMeImages img{
    display: block;
    /*height: auto;*/
    width: 100%;

}

/*Contact Page*/

.contactContainer {
    background-image: url("talltrees.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
}

.contactCode{
    background-color: white;
    position: absolute;
    top: 40%;
    width: 100%;
    padding: 20px;

}

label{
    display: block;
}


/*Projects Page*/

.projectsContainer {
    background-image: url("darkgrainywood.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
}


.projectColumns{
    margin: 100px;
    background-color: #FFFFFF;
    height: 70%;
    padding: 5px;
    text-align: center;

}

.col-lg-3{
    padding: 5px;
    border-left-style: solid;
    border-color: black;
}

.projectColumns img{
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}