
body, html {

    margin: 0;
    padding: 0;
    height: 100%;

}

* {
    margin: 0;
    padding: 0;
}


    /*Universal Nav Bar Container*/


.header{
    width: 100%;
    height:7%;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
    overflow: hidden;
    background-color: #000000;
    opacity: .6;


}

.logo {
    float: left;
    color: #FFFFFF;
}

.logo a{
    color: #FFFFFF;
    text-decoration: none;
}

.nav{
    float: right;
    padding-right: 20px;
}

.nav a {
    color: #ffffff;
    padding-left: 40px;
    text-decoration: none;

}

a:hover{
    color: orange;

}



/* End of Universal Nav Bar Container*/


/*Homepage*/

.homePageContainer{
    background-image: url("brushed_alu_dark_@2X.png");
    height: 100%;

}

.homePageSections{
    margin: 50px;
}

.homePageSections img {
    width: 60%;
    height: auto;
}



.homePageText{
    background-color: #FFFFFF;
    opacity: .9;
    width: 35%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

/*.textImgDiv{}*/


/*#darkgreenfoliage{*/
    /*float: right;*/
    /*display: block;*/
    /*width: 35%;*/
    /*box-sizing: border-box;*/

/*}*/

#teacrumpets{
    float: left;
}

#bottomborder{
    width: 100%;
    margin-bottom: 50px;
}


/*Resume Page*/

.resumecontainer{

    background-image: url("brickedwindow.jpeg");
    background-size: 100%;
    width: auto;
    height: 100%;

}

.whiteblock {
    background-color: white;
    height: 93%;
    width: 65%;
    margin: 0 auto;
}

/*About Me Page*/

.aboutMeContainer{
    background-image: url("green_cup.png");
    height: 100%;
}

.aboutmeBlock{
    margin-left: 100px;
    margin-right: 100px;
    height: 93%;
    box-sizing: border-box;


}

.aboutTextMargin{
    background-color: #FFFFFF;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

#aboutTextInner{
    background-color: #FFFFFF;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#aboutTextInner img{
    display: block;
    margin: auto;
    width: 100%;
    heigth: 100%;
}
#aboutparagraph {
    width: 60%;
    font-family: 'Antic', sans-serif;
    padding: 50px;
}
/*Contact Page*/

.contactContainer {
    background-image: url("talltrees.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
}

.contactCode{
    background-color: white;
    position: absolute;
    top: 40%;
    width: 100%;
    padding: 20px;

}



#subcribe2{
    display: inline;
}

label{
    display: block;
}
#subscribe{
    display:inline;

}

/*Projects Page*/

.projectsContainer {
    background-image: url("darkgrainywood.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
}


.projectColumns{
    margin: 100px;
    width: 90%;
    height: auto;
    padding: 5px;
    bottom: 40px;

}

.col-lg-3{
    padding: 40px;
}


.projectwhiteblock img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.projectwhiteblock{
    background-color: #FFFFFF;
    padding: 20px;
    height: 100%;
    border-radius: 10px;
    padding-bottom: 100px;
}

.projectwhiteblock h3{
    text-align: center;
}

.projectwhiteblock a{
    text-decoration: none;
}
